/*mobile size*/
p{
	font-size: 15px;
	font-weight: bold;
}

body {
		font-family: sans-serif;
	}
h1 {
		margin:auto;
		text-align: center;
		text-transform: uppercase;
	}
ul{
		list-style-type: none;
		padding: 0px;
	}
li {
		padding: 5px;
		text-align: center;
	}
nav li{
	color: white;
	background-color: black;
	margin: 2px;
	}
footer ul {
	background-color: lightGrey;
	margin-bottom: 0px;
	font-size: 0px;
	}
footer li {
	display: inline-block;
	width: 33.3%;
	font-size: 16px;
	padding: 2% 0%;	
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	float:left;
	padding:15px;
}
section {
	padding: 5px;
}

/*desktopsize*/
@media (min-width : 480px){
	h1{
		font-size:100px;
	}
	p{
		font-size: 20px;
		font-weight: 100;
	}
	nav{
		text-align: center;
	}
	li {
		display:inline-block;
		list-style-type: none;
		padding-left:90px;
		padding-right:90px;
	}
	img {
		float:initial;
		max-width: 80%;
		height: 200px;
	}
	section {
		padding: 20px;
	}
	#main{
		text-align: center;
		width:50%;
		margin-right: auto;
		margin-left: auto;
	}
	.content{
		text-align: center;
		width:30%;
		margin-right: auto;
		margin-left: auto;
		display:inline-block;
	}
}