#navbar {
	background-color:#E65C00;
	color:white;
	border-radius:10px;
	padding-left: 10px;
	font-size: 25px;
	padding-top:9px;
	padding-bottom:9px;
	font-weight:bold;
}


#logo{
	float: left;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

#logo2{
	float: right;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
body{
	background-image: url("texture-light.png");
}

#box {
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
	background-color:white;
	font-family: 'Open Sans';
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

h3{
	margin-top:0px;
	padding-top:0px;
}

h1{
	margin-bottom:0px;
	padding-bottom:0px;
	font-family: 'Boogaloo', cursive;
	color: #1975FF;
	font-size:45px;
	margin-top:0px;
}

p {
	font-family: 'Open Sans';
}

#moto{
	font-style:italic;
	font-size: 28px;
}

#footer{
	font-style:italic;
}