<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Interactive Address Book</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="shortcut icon" href="img/logo.png">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' type='text/javascript'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js' type='text/javascript'></script>
    </head>
    <body>
        <h1>30 Rock Interactive Employee Address Book</h1>
        <form>
            Search: <input type='text' id='livesearch'>
        </form>
        <div class="container">
            
            <!-- search area -->

            <!-- container for the generated address book entries -->

            <script id='template' type='text/template'>
                <% for (var i = 0; i < Employees.entries.length; i++) { %>
                <div class='person searchable' >
                    <img class='pic' src='<%= Employees.entries[i].pic %>'</img>
                    <h1 class='name search-this '><%= Employees.entries[i].first + ' ' + Employees.entries[i].last  %></h1>
                    <p class='title search-this'><%= Employees.entries[i].title %></p>
                    <p class='details search-this'><%= Employees.entries[i].dept %></p>

                </div>
                <% } %>
            </script>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="js/employees.js"></script>
        <script src="js/address-book.js"></script>
        <script src="js/live-search.js"></script>
    </body>
</html>
